@model HomeModel
@{
    ViewData["Title"] = "Home";
    var accountType = ViewData["AccountType"] as string;
}

<style>
    .index-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .admin-container {
        max-width: 600px;
        margin: auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    button:disabled {
        cursor: not-allowed;
    }
</style>

<div class="text-center index-main">
    @if (accountType == "Admin")
    {
        <div class="admin-container">
            <h3 class="mb-4">Modo Administrador</h3>

            <!-- Atribuir Usuário a Empresa -->
            <div class="mb-4">
                <h5 class="mb-3">Atribuir Usuário a Empresa</h5>
                <form asp-controller="Home" asp-action="ApplyUserToEnterprise">
                    <div class="form-group">
                        <label for="empresa">Selecionar Empresa:</label>
                        <select id="empresa" name="empresaId" class="form-control">
                            @if (Model != null && Model.empresas.Any())
                            {
                                foreach (var empresa in Model.empresas)
                                {
                                    <option value="@empresa.Nome">@empresa.Nome</option>
                                }
                            }
                            else
                            {
                                <option value="">Sem Registros</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" id="nomeUsuario" name="nomeUsuario" placeholder="Digite o nome do usuário" class="form-control" required />
                    </div>
                    <button id="atribuirUsuarioBtn" type="submit" disabled class="btn btn-primary btn-block">Atribuir Usuário</button>
                </form>
            </div>

            <!-- Criar Empresa -->
            <div>
                <h5 class="mb-3">Criar Empresa</h5>
                <form asp-controller="Home" asp-action="CreateEmpresa">
                    <div class="form-group">
                        <input type="text" id="nomeEmp" name="nomeEmpresa" placeholder="Nome da Empresa" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" disabled id="criarEmpresaBtn">Criar Empresa</button>
                </form>
            </div>
            <!-- Criar Conta de Usuário -->
            <div>
                <h5 class="mb-3">Criar Usuário</h5>
                <form id="accountForm" method="post" asp-controller="Account" asp-action="Register">
                    <!--Define qual função será utilizado e qual controller-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <span id="emailError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="confirmEmail">Confirmar Email</label>
                        <input type="email" class="form-control" name="confirmEmail" id="confirmEmail" required>
                        <span id="confirmEmailError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="pass">Senha</label>
                        <input type="password" class="form-control" name="pass" id="pass" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirmar Senha</label>
                        <input type="password" class="form-control" name="confirmPass" id="confirmPass" required>
                        <span id="passwordError" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Criar conta</button><!--Envia os dados do formulário para o banco de dados e registra o usuário-->
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        document.getElementById('nomeEmp').addEventListener('input', function () {
            document.getElementById('criarEmpresaBtn').disabled = !this.value.trim();
        });
        document.getElementById('nomeUsuario').addEventListener('input', function () {
            document.getElementById('atribuirUsuarioBtn').disabled = !this.value.trim();
        });

        $('#accountForm').on('submit', function (e) {
            var email = $('#email').val();
            var confirmEmail = $('#confirmEmail').val();
            var password = $('#pass').val();
            var confirmPassword = $('#confirmPass').val();

            var isEmailMatching = (email === confirmEmail);
            var isPasswordMatching = (password === confirmPassword);

            $('#confirmEmailError').text(isEmailMatching ? '' : 'Os emails não coincidem');
            $('#passwordError').text(isPasswordMatching ? '' : 'As senhas não coincidem');

            if (!isEmailMatching || !isPasswordMatching) {
                e.preventDefault();
            }
        });

    </script>
}
