@{
    ViewData["Title"] = "Home";
}

<style>
    .index-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        .index-main img {
            height: 30%;
            width: 65%;
        }

</style>

<div class="text-center index-main">
    <img src="~/assets/issabel_logo_mini.png" alt="Logo Integra Sistema"/>

</div>

