@{
    ViewData["Title"] = "Home";
    var accountType = ViewData["AccountType"] as string;
}

<style>
    .index-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        .index-main img {
            height: 30%;
            width: 65%;
        }

</style>
<div class="text-center index-main">

    @if(accountType == "Admin")
    {
        <div class="container">
            <h3>Edição de modo administrador</h3>
            <form asp-controller="Home" asp-action="ApplyUserToEnterprise">

            </form>
        </div>
    }
    else
    {   
        <img src="~/assets/issabel_logo_mini.png" alt="Logo Integra Sistema" />  
    }

</div>

