
@{
}

<div class="container-fluid">
    <h4 class="page-title" style="display:flex; align-items:center;"><button class="btn">&#127968;</button>Perfil</h4>

    <div class="templateDiv">
        <!-- Perfil de usuário comum-->

        <button class="btn btn-config">Alterar nome <i class="fas fa-cog"></i></button>
        <button class="btn btn-config">Alterar email <i class="fas fa-cog"></i></button>
        <button class="btn btn-config">Alterar senha <i class="fas fa-cog"></i></button>
        




    </div>
</div>
