.btn-config i{
    cursor:pointer;
    color:goldenrod;
}
.edit-input,
.save-button {
    display: none;

}
.save-button {
    position: absolute;
    right: 2%;
}

.editing .edit-input,
.editing .save-button {
    display: block;
}

.disabled .edit-button {
    pointer-events: none;
}
.edit-field{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}