@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Sign Up";
}
<!--FORMULÁRIO DE CADASTRO-->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="main-div p-4">
                <h2 class="mb-4 text-center">Cadastro</h2>
                <form method="post" asp-controller="Account" asp-action="Register"> <!--Define qual função será utilizado e qual controller-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                        <span id="emailError" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="confirmEmail">Confirmar Email</label>
                        <input type="email" class="form-control" name="confirmEmail" id="confirmEmail" required>
                        <span id="confirmEmailError" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="pass">Senha</label>
                        <input type="password" class="form-control" name="pass" id="pass" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPass">Confirmar Senha</label>
                        <input type="password" class="form-control" name="confirmPass" id="confirmPass" required>
                        <span id="passwordError" class="text-danger"></span>
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="dob">Data de Nascimento</label>
                        <input type="date" class="form-control" name="dob" id="dob" required>
                    </div>
                    -->
                    
                    <!-- ANTIGO SISTEMA DE SELEÇÃO DE EMPRESA/EMPREGADO
                    <div class="form-group mt-4 mb-3">
                        <div class="btn-group btn-group-toggle toggle-button" data-toggle="buttons">
                            <label class="btn btn-primary toggle-button active" id="employee-btn">
                                <input type="radio" name="accountType" id="employee" value="Empregado" autocomplete="off" checked hidden> Empregado  
                            </label>
                            <label class="btn btn-primary toggle-button" id="company-btn">
                                <input type="radio" name="accountType" id="company" value="Empresa" autocomplete="off" hidden> Empresa 
                              </label>
                        </div>
                    </div> 
                    -->

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Sign Up</button><!--Envia os dados do formulário para o banco de dados e registra o usuário-->
                    </div>
                    <div class="form-group text-center">
                        <a asp-area="" asp-controller="Account" asp-action="SignIn">Já possui uma conta? Faça login aqui</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        /* ... (seus outros estilos) ... */

        #toggle-buttons .btn {
            transition: background-color 0.3s ease, border-color 0.3s ease;
        }

        input[type="radio"] {
            display: none;
        }

        .toggle-button {
            background-color:white; /* A cor azul */
            color: black;
        }
    </style>
}

@section Scripts
    {
    <script>

        $(document).ready(function () {


            $('#email').on('input', function () {
                var email = $(this).val();
                $.ajax({
                    url: '@Url.Action("CheckEmail","Account")',
                    data: { email: email },
                    type: 'GET',
                    success: function (isAvailable) {
                        if (!isAvailable) {
                            // Mostra a mensagem de erro
                            $('#emailError').text('Email já em uso');
                        } else {
                            // Limpa a mensagem de erro
                            $('#emailError').text('');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log("Erro");
                        console.log(error);

                    }
                });
            });

            // Adicionando novo script JavaScript para controlar a troca de classes ativas
            $('#employee-btn, #company-btn').click(function () {
                $('#employee-btn, #company-btn').removeClass('active');
                $(this).addClass('active');
            }); 
        });

        $('form').on('submit', function (e) {
            var email = $('#email').val();
            var confirmEmail = $('#confirmEmail').val();
            var password = $('#pass').val();
            var confirmPassword = $('#confirmPass').val();

            var isEmailMatching = (email === confirmEmail);
            var isPasswordMatching = (password === confirmPassword);

            $('#confirmEmailError').text(isEmailMatching ? '' : 'Os emails não coincidem');
            $('#passwordError').text(isPasswordMatching ? '' : 'As senhas não coincidem');

            if (!isEmailMatching || !isPasswordMatching) {
                e.preventDefault();
            }
        });
    </script>
}
