/* _content/IntegraMailing/Views/Shared/_AccountLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html[b-ksrqczyrcf]{
    overflow-y:hidden !important;
}
body[b-ksrqczyrcf] {
    overflow-y: hidden !important;
}
main[b-ksrqczyrcf] {
    overflow-y: hidden !important;
}
a.navbar-brand[b-ksrqczyrcf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ksrqczyrcf] {
  color: #0077cc;
}

.navbar[b-ksrqczyrcf] {
    background-color: #607D8B;
    height: 8vh;
    z-index:10;
    border: none !important;
}
.navbar-brand[b-ksrqczyrcf]{
    margin-left:10px;
}

.navbar-icons[b-ksrqczyrcf] {
    display: flex;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
}

    .navbar-icons i[b-ksrqczyrcf] {
        font-size: 24px;
        margin-right: 15px;
        cursor:pointer;
    }

.notification[b-ksrqczyrcf] {
    position: relative;
}

    .notification .badge[b-ksrqczyrcf] {
        position: absolute;
        top: -10px;
        right: 1vw;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 5px 8px;
        font-size: 12px;
    }


.btn-primary[b-ksrqczyrcf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ksrqczyrcf], .nav-pills .show > .nav-link[b-ksrqczyrcf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.main-div[b-ksrqczyrcf] {
    padding: 1%;
    width: 100%;
    height: auto;
    max-height: contain;
    background-color: white;
    border: 1px dotted black;
}
/* _content/IntegraMailing/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html[b-xj3bjhmlq7]{
    overflow-y:hidden !important;
}
body[b-xj3bjhmlq7] {
    overflow-y: hidden !important;
}
main[b-xj3bjhmlq7] {
    overflow-y: hidden !important;
}
a.navbar-brand[b-xj3bjhmlq7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xj3bjhmlq7] {
  color: #0077cc;
}
.btn.dropdown-toggle[b-xj3bjhmlq7]::after {
    display: none;
}
.dropdown[b-xj3bjhmlq7] {
    position: relative;
    display: inline-block; /* Isso permite que o dropdown fique alinhado com outros elementos */
}

.dropdown-menu[b-xj3bjhmlq7] {
    top:100% !important;
    transform: translate3d(0,0,0) !important;
    z-index:1000;
}


.navbar[b-xj3bjhmlq7] {
    background-color: #607D8B;
    height: 8vh;
    z-index:10;
    border: none !important;
}
.navbar-brand[b-xj3bjhmlq7]{
    margin-left:10px;
}

.navbar-icons[b-xj3bjhmlq7] {
    display: flex;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
}

    .navbar-icons i[b-xj3bjhmlq7] {
        font-size: 24px;
        margin-right: 15px;
        cursor:pointer;
    }

.notification[b-xj3bjhmlq7] {
    position: relative;
}

    .notification .badge[b-xj3bjhmlq7] {
        position: absolute;
        top: -10px;
        right: 1vw;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 5px 8px;
        font-size: 12px;
    }


.btn-primary[b-xj3bjhmlq7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xj3bjhmlq7], .nav-pills .show > .nav-link[b-xj3bjhmlq7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xj3bjhmlq7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xj3bjhmlq7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xj3bjhmlq7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xj3bjhmlq7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xj3bjhmlq7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  color:white;
  background-color:black;
  height: 5vh;
  display:flex;
  align-items:center;
}
#sidebar[b-xj3bjhmlq7]{
    position:fixed;
    left:-300px;
    bottom:5%;
    height:87%;
    width:300px;
    background-color:white;
    color:darkgray;
    transition:left 0.3s;
    padding:0;
}
#sidebarToggle[b-xj3bjhmlq7] {
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
}
#sidebar.open[b-xj3bjhmlq7] {
    left: 0; /* Move a barra de navegação lateral para a posição visível */
}
.sidebar-info[b-xj3bjhmlq7] {
    width: 100%;
    height: 20%;
    padding: 15px;
    background: repeating-linear-gradient(0, rgba(152, 152, 152, 0.14) 0px, rgba(152, 152, 152, 0.14) 9px,rgba(243, 243, 243, 0.14) 9px, rgba(243, 243, 243, 0.14) 18px),repeating-linear-gradient(90deg, rgba(163, 163, 163, 0.11) 0px, rgba(163, 163, 163, 0.11) 10px,rgba(55, 55, 55, 0.11) 10px, rgba(55, 55, 55, 0.11) 20px),linear-gradient(90deg, hsl(0, 0%, 0%),hsl(0, 0%, 52%)) !important
}
.profile-data[b-xj3bjhmlq7] {
    display: flex;
    width: 100%;
    margin-top: 18.5%;
    color: white;
}

.info[b-xj3bjhmlq7] {
    flex:5;
    width: 100%;
    height:auto;
}

.info h6[b-xj3bjhmlq7] {
    max-width: 100%; /* ou você pode especificar uma largura máxima específica, como 200px */
    white-space: nowrap; /* impede a quebra de linha */
    overflow: hidden; /* esconde o texto que excede a largura máxima */
    text-overflow: ellipsis; /* adiciona reticências (...) ao final do texto, se for cortado */
    margin: 0;
    padding: 0;
}

.info p[b-xj3bjhmlq7]{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
.profile-button[b-xj3bjhmlq7] {
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}


.user-container[b-xj3bjhmlq7] {
    position: relative;
    display: inline-block;
}

.user-large[b-xj3bjhmlq7] {
    width: 50px; /* Largura da imagem grande */
    height: 50px; /* Altura da imagem grande */
    position: relative;
}
    .user-large img[b-xj3bjhmlq7]{
        width:100%;
        height:auto;
        border-radius:50%;
    }


.user-small[b-xj3bjhmlq7] {
    width: 20px; /* Largura da imagem pequena */
    height: 20px; /* Altura da imagem pequena */
    position: absolute;
    bottom: -10px;
    right: -10px;
}
    .user-small img[b-xj3bjhmlq7] {
        width: 100%; /* Garante que a imagem pequena se ajuste à div */
        height: auto; /* Mantém a proporção original */
        max-width: 100%; /* Limita o tamanho máximo da imagem pequena */
        object-fit: cover;
        border-radius:50%;
    }


.sidebar-menu[b-xj3bjhmlq7] {
    height: 80%;
    width: 100%;
    overflow-y:auto;
}
.sidebar-title[b-xj3bjhmlq7]{
    background-color:lightgray;
    color:black;
    font-size: 13px;
    height: 4%;
    display:flex;
    align-items:center;
    padding-left:17px;
}

.menu-group[b-xj3bjhmlq7] {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    position: relative;
}

.toggle-button[b-xj3bjhmlq7] {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-button[b-xj3bjhmlq7] {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}

.options[b-xj3bjhmlq7] {
    display: none;
    padding: 10px;
}

.toggle-button[b-xj3bjhmlq7]::after {
    content: "+";
}

.expanded .toggle-button[b-xj3bjhmlq7]::after {
    content: "-";
}

.expanded .options[b-xj3bjhmlq7] {
    display: block;
}




#mainContent[b-xj3bjhmlq7] {
    width: 75%;
    height: 87vh;
    position: absolute;
    top: 8vh;
    right: 0;
    overflow-y: hidden;
}
#mainContent.expanded[b-xj3bjhmlq7]{
    width:100%;
}
